###############################################################################
## Option Settings
##    Namespace: "aws:elasticbeanstalk:application:environment"
##    OptionName: STDOUTCWLogGroup
##       Default:   <EnvironmentName>-STDOUT
##    Description: This is the name of the cloudwatch log group for web requests (access log)
##
##
##
## Metrics
##
##
## Cloudwatch Alarms
##
##
###############################################################################

Mappings:
  CWLogs:
    STDOUTLogGroup:
      LogFile: "/var/log/eb-docker/containers/eb-current-app/*-stdouterr.log"
      TimestampFormat: "%Y-%m-%d %H:%M:%S.%f %z" # 2015-10-08 11:55:05.000586 +0200

Outputs:
  STDOUTCWLogGroup:
    Description: "The name of the Cloudwatch Logs Log Group created for this environments STDOUT logs. You can specify this by setting the value for the environment variable: STDOUTCWLogGroup. Please note: if you update this value, then you will need to go and clear out the old cloudwatch logs group and delete it through Cloudwatch Logs."
    Value: { "Ref" : "AWSEBCloudWatchLogs8832c8d3f1a54c238a40e36f31ef55a0STDOUTLogGroup"}


Resources :
  AWSEBCloudWatchLogs8832c8d3f1a54c238a40e36f31ef55a0STDOUTLogGroup:    ## Must have prefix:  AWSEBCloudWatchLogs8832c8d3f1a54c238a40e36f31ef55a0
    Type: "AWS::Logs::LogGroup"
    DependsOn: AWSEBBeanstalkMetadata
    DeletionPolicy: Retain     ## this is required
    Properties:
      LogGroupName:
        "Fn::GetOptionSetting":
          Namespace: "aws:elasticbeanstalk:application:environment"
          OptionName: STDOUTCWLogGroup
          DefaultValue: "coinsignals-stdout"
      RetentionInDays: 14


  ## Register the files/log groups for monitoring
  AWSEBAutoScalingGroup:
    Metadata:
      "AWS::CloudFormation::Init":
        CWLogsAgentConfigSetup:
          files:
            ## any .conf file put into /tmp/cwlogs/conf.d will be added to the cwlogs config (see cwl-agent.config)
            "/tmp/cwlogs/conf.d/streams-stdout.conf":
              content : |
                [streams_log]
                ## We take file name from the Mappings - CWLogs - LogGroup - LogFile
                file = `{"Fn::FindInMap":["CWLogs", "STDOUTLogGroup", "LogFile"]}`
                ## Log group is a reference to the log group resource we defined above
                log_group_name = `{ "Ref" : "AWSEBCloudWatchLogs8832c8d3f1a54c238a40e36f31ef55a0STDOUTLogGroup" }`
                ## Log stream name is an instance id
                log_stream_name = streams-{hostname}
                ## date_format for cloudwatch agent is also defined in Mappings section above
                datetime_format = `{"Fn::FindInMap":["CWLogs", "STDOUTLogGroup", "TimestampFormat"]}`
                file_fingerprint_lines = 3-6
              mode  : "000400"
              owner : root
              group : root

